deploy/n8n-tier2-pipeline.json
{
  "name": "Bulk Affiliate - Tier 2 Article Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13,
              "triggerAtMinute": 1
            },
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-1111-1111-111111111111",
      "name": "Schedule (1:01 PM + 7:02 PM KST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.2.1:5050/run-pipeline",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 35,\n  \"steps\": [\"research\", \"generate\", \"cleanup\", \"qa\"]\n}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxTries": 3,
            "shouldRetry": true
          }
        }
      },
      "id": "a1b2c3d4-2222-2222-2222-222222222222",
      "name": "Trigger Pipeline (35 articles)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "amount": 420,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-3333-3333-3333-333333333333",
      "name": "Wait 7 min for pipeline",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://10.0.2.1:5050/status",
        "authentication": "none",
        "options": {}
      },
      "id": "a1b2c3d4-4444-4444-4444-444444444444",
      "name": "Check Pipeline Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.jobs[Object.keys($json.jobs).pop()].status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-5555-5555-5555-555555555555",
      "name": "Still Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "amount": 300,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-6666-6666-6666-666666666666",
      "name": "Wait 5 more min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1420, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://10.0.2.1:5050/status",
        "authentication": "none",
        "options": {}
      },
      "id": "a1b2c3d4-7777-7777-7777-777777777777",
      "name": "Final Status Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 400]
    },
    {
      "parameters": {
        "content": "## Bulk Affiliate Tier 2 Pipeline\n\nThis workflow triggers the article generation pipeline on the VPS host.\n\n**Schedule:** 1:01 PM and 7:02 PM KST daily\n**API:** http://10.0.2.1:5050 (FastAPI on VPS host)\n**What it does:**\n1. Calls /run-pipeline with limit=35\n2. Waits 7 minutes for pipeline to complete\n3. Checks status — if still running, waits 5 more min\n4. Logs final result\n\n**Pipeline runs:** SERP research → Article generation (Kimi K2.5) → HTML cleanup → QA\n**Niche rotation:** Automatic via daily_runner.py schedule\n**Cost:** ~$0.50-1.00 per batch (35 articles)",
        "width": 460,
        "height": 340
      },
      "id": "a1b2c3d4-8888-8888-8888-888888888888",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 480]
    }
  ],
  "connections": {
    "Schedule (1:01 PM + 7:02 PM KST)": {
      "main": [
        [{ "node": "Trigger Pipeline (35 articles)", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Pipeline (35 articles)": {
      "main": [
        [{ "node": "Wait 7 min for pipeline", "type": "main", "index": 0 }]
      ]
    },
    "Wait 7 min for pipeline": {
      "main": [
        [{ "node": "Check Pipeline Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Pipeline Status": {
      "main": [
        [{ "node": "Still Running?", "type": "main", "index": 0 }]
      ]
    },
    "Still Running?": {
      "main": [
        [{ "node": "Wait 5 more min", "type": "main", "index": 0 }],
        [{ "node": "Final Status Check", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5 more min": {
      "main": [
        [{ "node": "Final Status Check", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Seoul"
  },
  "tags": [
    { "name": "bulk-affiliate" },
    { "name": "content-pipeline" },
    { "name": "tier-2" }
  ]
}
